h1 {
    color: gray;
    background-color: silver;
    margin-left: auto;
    margin-right: auto;
}

body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
    /* padding-left: 5%; */
    /* padding-right: 5%; */
}
