<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>
    {%- if site.github_username -%}
    <li>
      <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
	<img src="/assets/GitHub-Mark/PNG/GitHub-Mark-32px.png" />
	<span class="username">{{ site.github_username| escape }}</span>
      </a>
    </li>
    {%- endif -%}

  </div>
</footer>
