body {
    background: #25252a;
    color: #01befe;
    font-family: Roboto;
    font-size: 16px;
}

h2 {
    font-size: 3.5em;
    font-weight: bold;
    padding: 10px 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #ff006d;
    border-bottom: 6px solid #ff006d;
}

.container {
    margin: 200px 0 0 300px;
}

.slider-wrapper {
    margin-top: 36px;
    font-size: 2.5em;
    display: flex;
}

.slider {
    padding-left: 10px;
}
