body {
    font-family: Roboto;
    font-size: 24px;
    line-height: 1.3em;
}

h1 {
    display: inline;
    font-weight: bold;
}

a {
    color: #ff006d;
    font-weight: bold;
    border-bottom: 4px solid #ff006d;
    text-decoration: none;
    outline: none;
}

.content {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 128px auto;
    justify-content: space-between;
    max-width: 1280px;
}

.me {
    width: 40%;
}

.me p {
    padding: 12px 0;
}

.projects {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.projects h2 {
    margin-bottom: 12px;
    font-weight: bold;
}

.project-item {
    padding: 12px 0;
}

.hobbies {
    padding-left: 12px;
    margin-right: 15%;
}
