body {
    background: #25252a;
    color: #01befe;
    font-family: Roboto;
    font-size: 16px;
}

h2 {
    font-size: 3.5em;
    font-weight: bold;
    padding: 10px 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #ff006d;
    border-bottom: 6px solid #ff006d;
}

.container {
    margin: 200px 0 0 300px;
}

.slider-wrapper {
    margin-top: 36px;
    font-size: 2.5em;
    display: flex;
}

.slider {
    height: 1.1em;
    padding-left: 10px;
    overflow: hidden;
}

.slider div {
    height: 1em;
    margin-bottom: 1em;
}

.slider-text1 {
    animation: slide 16s linear infinite;
}

@keyframes slide {
    0% {margin-top: -14em; }
    5% {margin-top: -12em; }
    14% {margin-top: -12em; }
    19% {margin-top: -10em; }
    28% {margin-top: -10em; }
    33% {margin-top: -8em; }
    43% {margin-top: -8em; }
    48% {margin-top: -6em; }
    57% {margin-top: -6em; }
    62% {margin-top: -4em; }
    72% {margin-top: -4em; }
    77% {margin-top: -2em; }
    86% {margin-top: -2em; }
    91% {margin-top: 0em; }
    100% {margin-top: 0em; }
}
